---
layout: base
text: |
  Соединённость&nbsp;&mdash; это состояние, в&nbsp;котором твои мозги со&nbsp;всеми убеждениями, установками и&nbsp;ограничениями не&nbsp;встают между твоими возможностями и&nbsp;твоими результатами.

  Ты&nbsp;соединяешься со&nbsp;своими желаниями и&nbsp;позволяешь себе хотеть того, чего хочется именно тебе.

  Ты&nbsp;осознаёшь свою уникальность&nbsp;&mdash; ту&nbsp;исключительную комбинацию интересов, способностей, сильных сторон и&nbsp;талантов, которая отличает тебя от&nbsp;других людей.

  Благодаря этому ты&nbsp;точно знаешь, какие цели достойны быть достигнутыми именно тобой, и&nbsp;точно знаешь, что ты&nbsp;достоин их&nbsp;достичь.

  Поэтому ты&nbsp;идёшь к&nbsp;своим целям **легко**, и&nbsp;получаешь результаты, которые принадлежат тебе по&nbsp;праву.
---

{% include header.html %}

<style type="text/css">
.content {
    background: rgb(32, 32, 32); /* Fallback for older browsers without RGBA-support */
    background: rgba(32, 32, 32, 0.5);
}
</style>

<div class="section bg-primary" style="
  background-image: url(/images/ice-bg.jpg);
  background-size: cover;
  background-position: right bottom;
">
  <div class="container">
    <div class="row">
      <div class="col-md-5">
        <div class="well">
          <p class="lead text-center" style="color: black; text-shadow: none;">
            Технология <b>лёгкого</b> достижения целей
          </p>
          <hr/>
          <form action="http://z.prorealnost.com/order_and_redirect.php" method="POST">
            <div class="form-group">
              <input type="text" name="name" class="form-control" placeholder="Имя" required="required"/>
            </div>
            <div class="form-group">
              <input type="text" name="phone" rules="phone" class="form-control" placeholder="Телефон" required="required"/>
            </div>
            <div class="form-group">
              <input type="email" name="email" class="form-control" placeholder="Емейл" required="required"/>
            </div>
            <hr/>
            <button type="submit" class="btn btn-primary btn-block">Забрать</button>
            <input type="hidden" name="mailchimp-product-interest-id" value="cb30125b8e" />
            <input type="hidden" name="redirect" value="http://soedinennost.com/tdc/" />
          </form>
        </div>
      </div>
      <div class="col-md-6 col-md-offset-1 content">
        {{ page.text | markdownify }}
      </div>
    </div>
  </div>
</div>

{% include footer.html %}
