---
layout: base
text: |
  Соединённость — это состояние, в котором твои мозги со всеми убеждениями, установками и ограничениями не встают между твоими возможностями и твоими результатами.

  Ты соединяешься со своими желаниями и позволяешь себе хотеть того, чего хочется именно тебе.

  Ты осознаёшь свою уникальность — ту исключительную комбинацию интересов, способностей, сильных сторон и талантов, которая отличает тебя от других людей.

  Благодаря этому ты точно знаешь, какие цели достойны быть достигнутыми именно тобой, и точно знаешь, что ты достоин их достичь.

  Поэтому ты идёшь к своим целям **легко**, и получаешь результаты, которые принадлежат тебе по праву.
---

{% include header.html %}

<style type="text/css">
.content {
    background: rgb(32, 32, 32); /* Fallback for older browsers without RGBA-support */
    background: rgba(32, 32, 32, 0.5);
}
</style>

<div class="section bg-primary" style="
  background-image: url(/images/ice-bg.jpg);
  background-size: cover;
  background-position: right bottom;
">
  <div class="container">
    <div class="row">
      <div class="col-md-5">
        <div class="well">
          <p class="lead text-center" style="color: black; text-shadow: none;">
            Технология <b>лёгкого</b> достижения целей
          </p>
          <hr/>
          <form action="http://prorealnost.prorealnost.com/shot/50" method="POST">
            <div class="form-group">
              <input type="text" name="name" class="form-control" placeholder="Имя" required="required"/>
            </div>
            <div class="form-group">
              <input type="text" name="phone" rules="phone" class="form-control" placeholder="Телефон" required="required"/>
            </div>
            <div class="form-group">
              <input type="email" name="email" class="form-control" placeholder="Емейл" required="required"/>
            </div>
            <hr/>
            <button type="submit" class="btn btn-primary btn-block">Забрать</button>
          </form>
        </div>
      </div>
      <div class="col-md-6 col-md-offset-1 content">
        {{ page.text | markdownify }}
      </div>
    </div>
  </div>
</div>

{% include footer.html %}
