---
layout: page
permalink: /ok/
title: Отзывы и кейсы
items:
  - 
    author: "Александр Кацер"
    avatar: "/images/avatar/Katzer_otziv.jpg"
    product: Клуб личностного роста
    text: |
      Про Клуб личностного роста (КЛР 2.0) я узнал случайно, зайдя на сайт. К этому времени у меня накопилось много вопросов по бизнесу. Например : Как эффективно вести телефонные переговоры? Как предлагать свои услуги так, чтобы их покупали? 

      Я и раньше слушал и читал обучающие материалы Николая Воробьева по разным темам. Мне всегда нравился его подход к обучению: Кратко, четко, эффективно, без воды. Многие тренеры говорят много и расплывчато, Коля же дает четкие ответы на конкретные вопросы. 

      Очень понравилась КЛР возможность предложить свою тему обсуждения и задать интересующие именно меня ответы. Ни один вопросы не остался без ответа. 

      Что касается меня и моих вопросов, то в Клубе личностного роста я понял очень важный для бизнеса и продаж момент: Ранее, у меня был другой подход к продажам. В первую очередь думал о себе, как продать побольше, совершенно не задумываясь о том, чем и для чего я занимаюсь. Не удивительно, что, не смотря на старания, продать свои услуги удавалось далеко не всегда. 

      После тренинга, получив ответы на свои вопросы, я в первую очередь узнаю у клиентов "что для них важно, чего они хотят" и на основе их потребностей предлагаю услуги, которые подходят именно им. Количество заказов и эффективность коммуникаций возросла в разы. Да и само представление о бизнесе изменилось. Жаль, что такие полезные знания не получишь в школах и вузах. 

      Николай, Кирилл, Настя - спасибо вам! Вы классные! Так же нравится индивидуальный подход к каждому и по-настоящему желание помочь. Если у Вас есть актуальные вопросы и задачи, которые вы никак не можете решить, тщетно пытаясь найти ответы, застряли на месте в бизнесе или не ладится в личной жизни, то записывайтесь к Николаю Воробьеву, он настоящий профессионал своего дела."

      Александр Кацер, фотограф
  - 
    author: "Никита Варежкин"
    avatar: "/images/avatar/varezhkin.jpg"
    product: Победитель
    text: |
      Привет! Меня зовут Никита, занимаюсь изготовлением корпусной мебели на заказ. 
      
      Про тренинг рассказал друг, он сам проходил его и очень рекомендовал! 
      
      За прохождение тренинга **достиг всех трёх целей, которые ставил перед собой**, по бизнесу и в других сферах. 
      Для меня важным была поддержка со стороны Кирилла, моего куратора и доступная и подробная инструкция инструкция для достижения результатов!
      
  - 
    author: "Зинковский Иван"
    avatar: "/images/ivan-zinkovsky-testimonial.jpg"
    product: Победитель
    text: |
      
      Меня зовут Зинковский Иван.  
      
      Я китаист, последние несколько лет живу в Китае, работаю в сфере международной торговли.  
    
      В ПроРеальность обратился, когда понял, что совершенно нет контроля над своей жизнью. Уже практически забыл то, о чем мечтал раньше, слушал многочисленные пустые обещания от начальника, друзей, девушек, и себя самого. На деле все было иначе.  
      Тренинг «Победитель» помог, главным образом, вернуться в реальный мир, взять свои мечты и оформить их в конкретные цели, за которыми хотелось идти. Получил много полезного материла, которым пользуюсь каждый день.  
    
      Если говорить более конкретно, то сегодня **у меня классная работа в центре Шанхая, классный коллектив, начальство, перспективы. Новый подход к работе позволяет ориентироваться на результат**, не отвлекаясь на «как бы важные» дела.  
      Я наконец-то спланировал свою поездку в Европу, заказал билеты на главные фестивали следующего лета. Появилось больше знакомств, интересные варианты для отношений.  
      Я очень рад, что обратился к тренерам, они — настоящие профессионалы. Еще раз хочу сказать спасибо команде ПроРельности, Николаю Воробьеву за прекрасный курс, Кириллу Дудинскому за поддержку и веру. Продолжайте менять жизнь людей к лучшему!
  -
    author: "Елена Стрелец"
    avatar: "/images/avatar/strelets.jpg"
    product: ПроРеальность
    text: |
      
      Коля, Коля, Николай. 
      Сенсей, всем сенсеям сенсей. 
      Видит все. Всего тебя. Всего. Тебя. Насквозь. 

      Не убежать, не спрятаться. Не раствориться даже во времени. Вот так и я пыталась укрыться, пропасть во времени, чтоб от меня отстали. Все, что угодно, только не вперед, только не в ответственность, только не к целям! 2 года бегала, а голос Николая преследовал меня все это время. «Это же твоя цель, че сидишь, иди, достигай!» Все мне страшно было, не верила. Ни ему, ни тем более себе. Кто я такая? Пойду лучше борщ сварю. 

      Сварила, только не я, а повар. И не у себя на кухне, а в моем ресторане, которому вот сегодня 5 дней со дня открытия. Спасибо тебе, Коля!

      Ты — на пике, твоя команда самая лучшая поддержка! Настя, Кирилл, спасибо за поддержку, честность и за «счастливые пенделя». Простите, что дошло не сразу. 

      За сим все, искренне ваша, Лена. 

      П.с. Если вы говорите «цель не моя»... Не глупи, товарисч, твоя!
      
      http://vk.com/id11339803
  -
    author: "Антон Костровец"
    avatar: "/images/avatar/kostrovets.jpg"
    product: ПроРеальность 1 ступень, Москва, январь 2015
    text: |
      
      Николай Воробьев - потрясающий тренер,
      мастер своего дела. Он словно видит тебя насквозь и знает о тебе даже то,
      что ты не знаешь. После общения с ним, не понимаешь, почему так заморачивался
      раньше на те вещи, на которые совершенно не нужно обращать внимание.

  - 
    id: 461
    avatar: "/images/avatar/plotnikov.jpg"
    author: "Арсений Плотников"
    product: "ПроРеальность Николая Воробьёва. ЛП—6 Мск."
    text: |
      2 года прошло с тех пор, как я прошел ПроРеальность. Оглянулся я на то, что меня 
      окружает теперь. Сравнил с тем, что было. И понял, что пора написать обновленный отзыв.
      
      ДО
      
      Когда я пришел в «ПроРеальность», был я студентом—пятикурсником на закате ничегонеделанья 
      в универе. И понимал, что скоро пора вроде как определяться с жизнью: чем заниматься, 
      как деньги зарабатывать, куда вообще направить свои стремления. 
      
      Страшно было то, что никаких перспектив я не видел. Профессию я выбрал крайне мутную 
      и безденежную. Фееричней прошляпиться с выбором было просто невозможно — «кинодраматург». 
      И если в 16 лет при поступлении мне казалось, что дело это крутое, и будут меня окружать 
      киномодели, то к моменту выпуска я увидел другую картину: среднепаршивый сценарист 
      работает на канале «Доверие», пишет сценарии передач для толстых тетенек и получает 
      свою законную тридцатку—полтос. Короче, не нравилась мне такая перспектива.
      
      При этом, получая 5 лет образование сценариста, я не обретал никаких жизненно полезных 
      навыков. То есть ничего, кроме написания текстов, я не умел. Это было еще страшнее. 
      И в «ПроРеальность» я пришел с четким запросом: определить свой путь и ответить на 
      вопрос «Чо дальше—то?». 
      
      ЧЕРНЫЙ ЯЩИК
      
      Тут я позволю себе оставить как бы «Черный Ящик». То есть вы типа знаете, что было 
      в начале. И теперь узнаете, что есть сейчас. Как так? А вот так. Магия.
      
      ПОСЛЕ
      
      Тут я буду хвастаться. Договорились? :)
      
      Сейчас мне 23. Работаю не по профессии. В компании, которая является лидером России 
      и СНГ в своей нише — «А имя ее настолько известно, что я не буду называть ее вслух» 
      :) Полгода был лучшим в своем отделе. В итоге сейчас на испытательном сроке новой 
      должности — зам.директора по маркетингу. Когда покажу, что справляюсь, обоснуюсь в 
      этой роли окончательно.
      
      Живу в квартире с двумя балконами и электрическим камином :) Я когда квартиру выбирал, 
      мне почему—то именно камин в душу запал. Глупо, конечно. Но прикольно позволить себе 
      то, чего раньше не было.
      
      Да! Девушка у меня появилась. Ну как без девушки, раз камин есть, правда? :)) Сейчас 
      вот пишу отзыв в кафе на ноуте, и она пришла.
      
      В общем, проблему с определением себя в жизни я решил.
      
      ЧТО СРАБОТАЛО
      
      Коля сработал. «ПроРеальность» сработала. Показали мне, что, оказывается, можно не 
      зацикливаться на том, что я умею, а чего нет. Можно браться за все. И достигать того, 
      что раньше казалось совершенно не моим. Я вот раньше считал, что логика и цифры — 
      это вообще не про меня. А теперь только и делаю, что считаю конверсии и ROI. 
      
      Ну, и добавилось осознания, что нет мечт — есть цели. Берешься за дело. Херачишь, 
      как паровоз. Достигаешь цель. Окей, дедлайн немного может сдвинуться. Может, не сразу 
      все придет. Придется попотеть. Но если продолжить херачить, то из мечты получается 
      цель, а из цели — достижение.
      
      ЧТО ДАЛЬШЕ
      
      А дальше я… Ха! Все вам расскажи. Я знаю, что дальше. И примерно вижу путь своей 
      жизни лет до тридцати – тридцати пяти. Понимаю, куда и зачем я иду. Этого понимания 
      до «ПроРеальности» тоже не было. И то, что теперь понимание есть — пожалуй, одно из 
      мощнейших достижений тренинга.
      
      БЛОК СО ВСЯКИМИ «СПАСИБО» И ПРОЧЕЙ ВАНИЛЬНОСТЬЮ
      
      Спасибо Николаю Воробьёву за тренинг, за вклад в меня и мой рост. «ПроРеальность» 
      действительно сумела стать для меня поворотной жизненной точкой. И не смотря на то, 
      что в течение двух последующих лет были разные периоды (и откаты, и провалы с ямами, 
      и прочая чернь), все же я продолжил двигаться по пути, который заложил в себя во время 
      тренинга.
      
      ИДТИ В ТРЕНИНГ ИЛИ НЕТ
      
      Решайте сами. Важно, чтобы выбор был осознанным.
      
      КОНТАКТЫ
      
      Пишите сюда задавать вопросы лично, если будет желание: http://vk.com/ars_plotnikov

  - 
    id: 453
    author: "Наталья Лапшаева"
    avatar: "/images/avatar/lapshaeva.jpg"
    product: "ПроРеальность"
    text: |
      Вероятно, мой отзыв не будет особо отличаться от предыдущих, т.к. результат действительно 
      превзошел мои самые смелые ожидания! До сих пор не верится, что найдены ответы 
      на вопросы, над которыми корпела не один год. Поставлены цели и расставлены приоритеты, 
      мой курс – только вперед! Теперь я с полной уверенностью могу сказать, что счастлива 
      на все 100 %. Безумно хочется делиться радостью и любовью с окружающими меня людьми. 

      Это было действительно очень здорово и  профессионально.  Спасибо, Николай!

  - 
    id: 446
    author: "Olga"
    product: "ПроРеальность"
    text: |
      Я не знаю как это произошло. Но на практике в своей жизни, теперь я чувствую и наблюдаю 
      глобальные изменения. Коля разрушил рамки и заборы в моей голове, которые я придумала 
      сама — нет не возможного, пока ты сам это не признаешь. Дал понять, что я могу все, 
      я могу больше и границ нет. Да, все скажут – «это и так понятно». А что же вы тогда 
      не делаете? 
      
      Я стала думать и действовать по другому, это произошло не 
      заметно, я выбираю другие стратегии, я не знаю, как так выходит, но мне больше не 
      страшно, я больше не боюсь не чего и не кого, если есть страх, я иду за ним и это 
      в кайф. Инстинкт самососохранения остался в прошлом, отношения, люди, компании, реализация 
      идей — все это то, что долгими годами было во мне — вырвалось наружу и поток нескончаем, 
      я осознала что могу сделать все, что я захочу! У меня нет больше потолка, мне сорвало 
      башню. Больше нет скучных дней в моей жизни, это не эмоциональных эффект, который 
      скоро закончиться — это стратегия жизни, я создала ее сама и выбираю ее каждый день. 
      Ресурс творчества безграничен — это невероятно.
      
      Ответственность. Это отдельная тема. Раньше все были виноваты кроме меня :)
      
      Ответственность — 
      это большой рост. За свою жизнь, за выбор, за близких, за дом, за город и мир в 
      целом. 
      
      На самом деле открытий произошло еще больше, это все настолько большое, что вселенной 
      мало. 
      
      Если ты думаешь, что все знаешь и так – ты молодец! Это правда! Но если хочешь реально 
      новые мозги, которые тебе помогут эффективно и с пользой реализоваться сейчас, а не 
      через 10 лет, то не стоит ждать волшебного момента. Возможно, я бы потратила на много 
      больше лет, и мои падения были бы более больные и серьезные, но я выбрала другой путь 
      – здесь и сейчас. Ресурс времени для меня стал самым важным в жизни. Я желаю и тебе 
      это понять, время идет и жизнь проходит  – проснись и начни делать сейчас, а не когда—нибудь 
      потом :)

  - 
    id: 413
    author: "Анжелика Борисова"
    product: "ПроРеальность"
    avatar: "/images/avatar/anzhela.jpg"
    text: |
      В который раз убеждаюсь, что Коля — Волшебник. Помните любимый всеми советский мультик 
      «Ох и Ах»? Так вот, из каждого Оха он делает Аха!!! А из каждого Аха рождаются ОГОГО 
      АХи! Это Чудесно! 
      У меня изменились все составляющие моей жизни!
      Я сменила место жительства, поменяла работу, там же получила повышение, увеличила 
      свой доход, купила квартиру. Сейчас рядом со мной любимый человек! Я счастлива, Я 
      наполнена жизнью!!! 

  - 
    id: 412
    avatar: "/images/avatar/bazorov.jpg"
    author: "Константин Базоров"
    product: "ПроРеальность"
    text: |
      Привет, привет! О тренинге: очень здорово все сделано, Коля — человек с удивительной 
      энергетикой и большой профессионал! Про свои ощущения: выход за рамки, расширение 
      своей зоны комфорта, отследил несколько своих очень глубоких убеждений, мешающих мне, 
      увидел: что стоит между мной и результатом, которого я хочу.

  - 
    id: 383
    avatar: "/images/avatar/kiselev.jpg"
    author: "Владимир Киселев"
    product: "ЛП3"
    text: |
      У меня крутые перемены! Я еду работать в Москву финансовым аналитиком! Еще в декабре 
      Я был инженером в Краснодаре:)
      
      Я люблю себя и всех вокруг:) Я счастлив!  
      
      P.S. Бла Блю Бли... Бамбуччча;D

  - 
    id: 380
    author: "Максим Мартьянов"
    avatar: "/images/avatar/martianov.jpg"
    product: "Лидерская программа 2 Питер"
    text: |
      На тренинг шел не придавая ему большого значения, но он сильно изменил мою жизнь. 
      Чтобы перечислить все бонусы не хватит и целого дня!! 
            
      Здесь нет вообще занудной теории, вообще ничего лишнего. Только практика! Берись 
      и делай! Я сэкономил очень много лет жизни, а может и целую жизнь!

  - 
    id: 372
    avatar: "/images/avatar/pogrebinsky.jpg"
    author: "Максим Погребинский"
    product: "Лидерская программа 5"
    text: |
      Прошел год после тренинга. Это был классный год, полный позабытых с детства 
      эмоций, открытий и ощущений.
      
       Буду говорить про себя.
      
       Я сильно изменился, трансформировался, проверено. Сейчас, по прошествии года, я 
      даже не могу вспомнить мотивов своих прошлых поступков.
      
       Вау!!!!!! Я все еще под впечатлением.
      
       Я получаю удовольствие от жизни, я как будто пью свежий фруктовый сок вместо привычного 
      сельдерея. Я получаю удовольствие от работы, я наконец—то делаю, что хочу (инновационный 
      стартап), мне страшно, но у меня есть команда и это придает мне огромной энергии и 
      уверенности.

  - 
    id: 369
    avatar: "/images/avatar/borisov.jpg"
    author: "Александр Борисов"
    product: "Лидерская программа 5"
    text: |
      Благодаря тренингу стал тем, кем хотел. Ответственным, честным, уверенным, коммуникабельным, 
      способным на любые свершения мужчиной. Соединился с собой, с тем, кем мечтал быть 
      и хотел казаться раньше. 

  - 
    id: 341
    avatar: "/images/avatar/leonov.jpg"
    author: "Владимир Леонов"
    product: "ПроРеальность"
    text: |
      Вообще не тренинг, а бомба!
      
      Пришёл с одной мааааленькой задачкой, а получил намного большее которое сейчас всё 
      распаковывается и распаковывается принося радость, уверенность в себе! 
      
      Огромное спасибо Николаю! Я очень боялся что этот тренинг будет никому ненужной развлекухой 
      за большие деньги! 
      
      СПАСИБО за то что это оказались всего лишь моими страхами и даром «предвидения» 
      ))))))))))))).
---

<style type="text/css">
.avatar {
  margin: 8px 30px 30px 0;
  width: 120px;
  height: 120px;
}
.testimonial.odd {
  background: #f8f8f8;
}
.testimonial {
  border-top: 1px solid #e7e7e7;
  border-bottom: 1px solid #e7e7e7;
  margin-bottom: -1px;

  padding-top: 60px;
  padding-bottom: 60px;
}
.testimonial h3 {
  margin-top: 0;
  margin-bottom: 30px;
}
</style>

<div class="container">
  <div class="flex-video widescreen">
    <iframe width="853" height="480" src="https://www.youtube.com/embed/videoseries?list=PLhkScsCunK5UDeYO2VOgAJkSCIXw6dESP&amp;controls=0" frameborder="0" allowfullscreen></iframe>
  </div>
</div>

{% for item in page.items | reverse %}
  <section class="post testimonial {{ loop.index is odd ? 'odd' }}">
    <div class="container">
      <div class="row">
        <div class="col-md-2">
          {% if item.avatar %}
            <img src="{{ item.avatar }}" class="img-responsive img-circle pull-left avatar" />
          {% endif %}
        </div>
        <div class="col-md-10">
          <h3>{{ item.author }}</h3>
          {% if item.video %}
            <div class="flex-video widescreen">
              <iframe allowfullscreen="" frameborder="0" src="http://www.youtube.com/embed/{{ item.video.id }}?rel=0"></iframe>
            </div>
          {% endif %}
          {% if item.text %}
            <div class="post-body">
              {{ item.text | markdownify }}
            </div>
          {% endif %}
        </div>
      </div>
    </div>
  </section>
{% endfor %}
