---
---

@import "flatly-variables";
@import "bootstrap";
@import "flatly";
@import "colors";
@import "social-likes";
@import "flex-video";

.container {
  max-width: $container-md;
}

//
// .main
//

h1 {
  a {
    color: inherit;
  }
}

p {
  margin: 15px 0;
}

ul, ol {
  margin: 15px 0;
  padding-left: 30px;
}

ul {
  list-style-type: disc;
}

ol {
  list-style-type: decimal;
}

ol ul, ul ol, ul ul, ol ol {
  margin: 0;
}

ul ul, ol ul {
  list-style-type: circle;
}

body h1, body h2 {
  padding-bottom: 0.3em;
}

//
// header
//

header {
  .navbar {
    margin-bottom: 0px;
  }

  nav {
    .container {
      text-align: center;

      .navbar-main {
        float: none;
        display: inline-block;
        margin: 0 auto;

        > li {
          float: left;
        }

      }

      .navbar-nav > li > a {
        padding-top: 17.5px;
        padding-bottom: 17.5px;
      }
    }
  }
}

.margin {
  margin-bottom: 27px;
}

// header

#header {
  background-color: lighten($navbar-inverse-bg, 5%);

  color: $navbar-inverse-color;
  padding: 32px 0;

  text-shadow: 0 1px 3px rgba(0,0,0,.5);

  .brand {
    color: white;
    font-size: 32px;
    line-height: 60px;

    img {
      width: 48px;
      height: 48px;
      margin-top: -8px;
    }
  }

  .header-right {
    text-align: right;
    padding-top: 10px;

    a {
      color: lighten(#4183C4, 30%);
    }
  }
}

//
// #heads-up
//

#heads-up {
  background-color: lighten($navbar-inverse-bg, 5%);

  color: $navbar-inverse-color;
  padding-bottom: 25px;
  text-align: center;

  text-shadow: 0 1px 3px rgba(0,0,0,.5);
}

//
// footer
//

.footer {
  padding: 25px 0;
  background: $navbar-inverse-bg;
  color: $navbar-inverse-color;
  font-size: $font-size-small;

  a {
    color: #bdc3c7;
  }
}

//
// blog
//

.date {
  font-style: italic;
  color: $gray;
}

.posts > .post {
  padding-bottom: 2em;
  border-bottom: 1px solid $gray-light;
}

.posts > .post:last-child {
  padding-bottom: 1em;
  border-bottom: none;
}

.post {
  blockquote {
    margin: 1.8em .8em;
    border-left: 2px solid $gray;
    padding: 0.1em 1em;
    color: $gray;
    font-size: 22px;
    font-style: italic;
  }

  .comments {
    margin-top: 10px;
  }

  .read-more {
    text-transform: uppercase;
    font-size: 15px;
  }
}

.post:after {
  clear: both;
}
.post:after {
  display: table;
  content: " ";
}

//
// landing
//

.section {
  padding: 100px 0;
}

.section.bg-primary {
  color: #fff;
  text-shadow: 0 1px 3px rgba(0,0,0,.5);
}

.section.bg-peter-river {
  color: #fff;
  text-shadow: 0 1px 1px rgba(0,0,0,.5);
}

.section.features {
  h1 {
    padding-bottom: 40px;
    text-align: center;
  }

  p {
    font-size: 24px;
    margin-top: 1em;
  }
}

.bg-clouds-darker {
  background-color: darken(#ECF0F1, 3%);
}

.bg-clouds-lighter {
  background-color: lighten(#ECF0F1, 3%);
}

.bg-white {
  background-color: white;
}

.text-strong {
  font-weight: bold;
}

$numbercirclebase: 35px;

.numbercircle {
  display: inline-block;
  height: $numbercirclebase;
  width: $numbercirclebase;
  line-height: $numbercirclebase;

  -moz-border-radius: $numbercirclebase / 2; /* or 50% */
  border-radius: $numbercirclebase / 2; /* or 50% */

  text-align: center;
  font-size: 1.1em;
}