<div class="footer">
  <div class="container">
    <div class="row">
      <div class="col-xs-4">
        <p>{{ site.slogan }}</p>
        <p><a href="/privacy/">Политика конфиденциальности</a></p>
        <p>&copy; Николай Воробьёв 2016</p>
      </div>
      <div class="col-xs-4 text-center">
        <p><img src="/images/favicon.ico"/></p>
        <p>Соединённость</p>
      </div>
      <div class="col-xs-4">
        <p class="text-right">
          +7 921 7618506<br/>
          <a href="skype:dudinsky-kirill"><i class="fa fa-skype"></i> Позвонить в skype</a>
        </p>
        <p class="text-right">
          Санкт-Петербург,<br/>
          ул. Некрасова 40 офис 32
        </p>
      </div>
    </div>
  </div>
</div>