<header>
  <div id="header" class="light">
    <div class="container">
      <div class="row">
        <div class="col-sm-6">
          <a class="brand" href="/"><img src="/images/favicon.ico"/> {{ site.name }}</a>
          <br/>
          <div style="margin-left: 57px;">{{ site.description }}</div>
        </div>
        <div class="col-sm-6 header-right">
          +7 921 7618506<br/>
          <a href="skype:dudinsky-kirill"><i class="fa fa-skype"></i> Позвонить в skype</a>
        </div>
      </div>
    </div>
  </div>
</header>
{% include ribbon.html %}