<section class="form">
  <div class="container">
    <p class="text-center">{{ include.formtitle }}</p>
    <form class="form-horizontal" action="http://z.prorealnost.com/order_and_redirect.php" method="POST">
      <div class="form-group">
        <div class="col-sm-7 col-md-8">
          <input type="email" name="email" class="form-control" placeholder="Введи сюда свою электронную почту" required="required"/>
        </div>
        <div class="col-sm-5 col-md-4">
          <button type="submit" class="btn btn-warning btn-block" style="white-space: normal;">{{ include.buttontext }}</button>
        </div>
      </div>
      <!--input type="hidden" name="mailchimp-product-interest-id" value="cb30125b8e" /-->
      <input type="hidden" name="trello-list-id" value="56e1692b2a9ecdc00b9def33" />
      <input type="hidden" name="redirect" value="http://soedinennost.com/enjoy/klr/{{ page.date | date: "%Y-%m-%d" }}-{{ page.name }}/" />
    </form>
  </div>
</section>