.container {
  max-width: none;
}

#header-light {
  padding: 10px 0;

  font-weight: 400;
  font-size: 20px;
  letter-spacing: 0.5px;
  line-height: 23px;

  img {
    width: 180px;
    height: auto;
    float: left;
  }

  h1 {
    text-align: center;
    margin-top: 13px;
    margin-bottom: 0;
  }

  p {
    margin-top: 27px;
  }
}

#hero {
  background-color: #1ea1ed;
  color: white;

  h1.primary {
    font-weight: 900;
    font-size: 48px;
    color: #fefefe;
    line-height: 48px;
    margin: 24px auto;
    padding: 0;
    display: block;
    text-align: center;
  }
}

#main {
  margin-top: 30px;

  .form {
    p {
      margin-top: 0;
      padding-top: 0;
    }
  }
}

#partners {
  background-color: #f5f7f7;
  padding: 30px 0;
  margin-top: 20px;
}
