.review {
  .review-text {

  }

  .review-photo {
    width: 50%;
    float: right;
  }
}

#header-light {
  padding: 10px 0;

  font-weight: 400;
  font-size: 20px;
  letter-spacing: 0.5px;
  line-height: 23px;

  img {
    width: 180px;
    height: auto;
    float: left;
  }

  h1 {
    text-align: center;
    margin-top: 13px;
    margin-bottom: 0;
  }

  p {
    margin-top: 27px;
  }
}

section {
  padding: 30px 0;
}

#hero {
  background-color: #1ea1ed;
  color: white;

  padding: 60px 0;

  h1.event-type {
    font-weight: 700;
    font-size: 30px;
    line-height: 32px;
    color: #bae6ff;
    display: block;
    margin: 0;
  }
  h1.event-name {
    font-weight: 900;
    font-size: 60px;
    color: #fefefe;
    line-height: 60px;
    margin: 20px auto;
    display: block;
  }
  .event-date {
    font-weight: 900;
    font-size: 30px;
    color: #fefefe;
    line-height: 32px;
    margin: 20px auto;
    display: block;

    span {
      color: #bae6ff;
    }
  }
}

.delim {
  width: 42px;
  height: 10px;
  background: #5890c5;
  margin-bottom: 30px;
}

#author {
  .left {
    text-align: center;
    img {
      width: 200px;
      height: auto;
    }
  }
}

.video {
  width: 700px;
  margin: 0 auto;
}