section {
  padding: 100px 0;
}

#intro {
  padding-top: 0px;

  text-align: center;

  #intro-header {
    margin: 30px 0 80px 0;

    text-align: left;

    .brand {
      color: black;
      font-size: 32px;
      line-height: 60px;

      img {
        width: 48px;
        height: 48px;
        margin-top: -8px;
      }
    }

    .header-right {
      text-align: right;
      padding-top: 10px;
    }
  }

  h1.jumbo {
    font-size: 60px;
    color: #d00;
  }
}

#situation {
  background: #fafafa;
}

#resource {
  text-align: center;

  .number {
    font-size: 62px;
    font-weight: 900;
    color: #f39c12;
  }
}

#effect {
  background: #fafafa;

  i {
    color: #f39c12;
  }
}

#proof {
  text-align: center;

  b {
    color: #d00;
  }
}

#action {
  background: #fafafa;
  text-align: center;
}