---
layout: landing
title: 17 шагов чтобы привести свою жизнь в порядок

## ЦА №2 — специалисты

permalink: /17/
header: 
  title: "Как достичь гораздо&nbsp;большего в&nbsp;бизнесе, работе и&nbsp;жизни"
  subtitle: "инструкция из 17 важных шагов"
  background: "/images/kp-top-bg-min.jpg"
  buttontitle: "Получить"
  morebuttontitle: "Узнать больше"
  video: dDWTdQ2GHtI
features: 
  -
    text: Увеличить доход
    image: "career"
  -
    text: Активно развиваться
    image: "start"
  -
    text: Создать перспективы в своей жизни
    image: "empower"
  -
    text: Улучшить эмоциональное состояние
    image: "love"
  -
    text: Повысить самодисциплину
    image: "wealth"
  -
    text: Перестать сдаваться
    image: "life"

author:
  - Ведущий тренер компании ПроРеальность
  - Международный тренер и коуч с 12-летним опытом
  - Ведущий и тренер в 4 телевизионных и радио шоу об отношениях и личной эффективности
  - Автор 5 книг и 15 тренингов об отношениях, мотивации, уверенности, бизнесе, продажах и личной эффективности
  - Провёл тренинги более чем в 20 городах России и Европы

extracounter: 35033780
---

<style type="text/css">
  header { display: none; }
</style>

<div class="section bg-primary text-center" style="background-image: url({{ page.header.background }}); background-size: cover; background-position: center; padding: 150px 0;">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1 style="margin-top: 0; font-size: 48px;">{{ page.header.title }}</h1>
        <p class="lead">
          {{ page.header.subtitle }}
        </p>
        <p>
          <a class="btn btn-danger" href="#pricing"><i class="fa fa-arrow-right"></i> {{ page.header.buttontitle }}</a>
          &nbsp;
          <a class="btn btn-info" href="#more"><i class="fa fa-arrow-down"></i> {{ page.header.morebuttontitle }}</a>
        </p>
      </div>
    </div>
  </div>
</div>

<a name="more"></a>

<div class="section">
  <div class="container">
    <h1 class="text-center">Инструкция, которая уже помогла 684 людям</h1>
    <p class="lead text-muted text-center">решиться и начать менять свою жизнь к лучшему</p>
    <div class="row">
      {% for item in page.features %}
        <div class="col-md-4 text-center" style="height: 260px; margin-top: 40px">
          <img src="/images/17-steps/{{ item.image }}.png" width="150" height="150"/>
          <br/>
          <p class="lead">{{ item.text }}</p>
        </div>
      {% endfor %}
    </div>
  </div>
</div>

<div class="section">
  <div style="
    min-width: 1000px;
    min-height: 600px;
    background-image: url(/images/me.jpg);
    background-repeat: no-repeat;
    background-position: left bottom;
    border-bottom: solid #e0e0e0 3px;
  ">
    <div class="container">
      <div class="row">
        <div class="col-xs-offset-5 col-xs-7 bg-clouds" style="padding: 50px;">
          <h1 style="margin-top: 0;">Автор инструкции<br/>Николай Воробьёв</h1>
          <ul class="fa-ul">
            {% for item in page.author %}
              {% capture thecycle %}{% cycle 'text-strong', '' %}{% endcapture %}
              <li class="{{ thecycle }}">
                <i class="fa-li fa fa-check text-danger"></i>
                {{ item }}
              </li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<a name="pricing"></a>

<div class="section">
  <div class="container">
    <h1 align="center">
      Получить инструкцию
    </h1>
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <div class="well" id="mc_embed_signup">
          <form action="//soedinennost.us12.list-manage.com/subscribe/post?u=ba29e3d177929ef1d8637d1a5&amp;id=2061e886f2" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" novalidate>
            <div class="form-group">
              <input type="text" name="FNAME" class="form-control input-lg" placeholder="Имя" required="required"/>
            </div>
            <div class="form-group">
              <input type="text" name="PHONE" rules="phone" class="form-control input-lg" placeholder="Телефон" required="required"/>
            </div>
            <div class="form-group">
              <input type="email" name="EMAIL" class="form-control input-lg" placeholder="Емейл" required="required"/>
            </div>
            <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
            <div style="position: absolute; left: -5000px;" aria-hidden="true">
              <input type="text" name="b_ba29e3d177929ef1d8637d1a5_2061e886f2" tabindex="-1" value="">
            </div>
            <button type="submit" class="btn btn-primary btn-lg btn-block">Получить инструкцию</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>