---
layout: page
title: Курсы и тренинги
permalink: /products/
items:
  -
    title: "Как определиться с выбором цели"
    icon: "kovc"
    text: "Практическая пошаговая инструкция"
    ref: "http://goals.prorealnost.com"
  -
    title: "Как порвать трудное дело"
    icon: "kptd"
    text: "Практическая пошаговая инструкция"
    ref: "/tear/"
  -
    title: "Победитель"
    icon: "pobeditel"
    text: |
      **Как стать человеком, который легко достигает прорывных результатов**
      
      Интенсивный практический онлайн-тренинг
    ref: "/pobeditel/"
  -
    title: "Коучинг"
    icon: "coaching"
    text: "Персональный коучинг Николая Воробьёва"
    ref: "/coaching/"
---

<hr/>
{% for item in page.items %}
  <div class="media">
    <div class="media-left">
      <a href="{{ item.ref }}">
        <img class="media-object" src="/images/product/{{ item.icon }}.png" alt="{{ item.title }}" width="128" heigth="128" style="margin-right: 20px;">
      </a>
    </div>
    <div class="media-body">
      <h2 class="media-heading"><a href="{{ item.path }}">{{ item.title }}</a></h2>
      {{ item.text | markdownify }}
      <p><a href="{{ item.ref }}">Подробности тут</a></p>
    </div>
  </div>
  <hr/>
{% endfor %}

<h1 id="klr" style="margin-top: 60px;">Клуб личностного роста Николая Воробьёва</h1>
<hr/>
{% for item in site.klr %}
  <div class="media">
    <div class="media-left">
      <a href="http://prorealnost.prorealnost.com/shot/98">
        <img class="media-object" src="/images/star256px.png" alt="{{ item.title }}" width="128" heigth="128" style="margin-right: 20px;">
      </a>
    </div>
    <div class="media-body">
      <h2 class="media-heading"><a href="http://prorealnost.prorealnost.com/shot/98">{{ item.title }}</a></h2>
      {{ item.content | markdownify }}
      <p><a href="http://prorealnost.prorealnost.com/shot/98">Купить запись этого занятия</a></p>
    </div>
  </div>
  <hr/>
{% endfor %}
