---
layout: base
---

<link rel="stylesheet" type="text/css" href="/klr-weekly.css" />

<header>
  <div id="header" class="light">
    <div class="container">
      <h1 class="text-center">Клуб личностного роста</h1>
      <p class="lead text-center">новый вебинар для&nbsp;твоего развития каждую неделю</p>
    </div>
  </div>
</header>
{% include ribbon.html %}
{% capture sitetime %}{{ site.time | date: '%Y%m%d %H:%M:%S' }}{% endcapture %}
{% capture pagedate %}{{ page.date | date: '%Y%m%d %H:%M:%S' }}{% endcapture %}
sitetime {{sitetime}} {{ sitetime | date_to_xmlschema }} pagedate {{pagedate}} {{ pagedate | date_to_xmlschema }}
{% if sitetime < pagedate %}
  webinar is in future
{% elsif sitetime > pagedate %}
  webinar is in past
{% else %}
  equal
{% endif %}
<section id="hero">
  <div class="container">
    <div class="host">
      <img src="/images/host.jpg">
      <p class="title">Вебинар ведёт</p>
      <p class="name">Николай Воробьёв</p>
    </div>
    <h1 class="subheadline">Тема этой недели</h1>
    <h1 class="primary">{{ page.title }}</h1>
    <p class="lead"><i class="fa fa-clock-o"></i> {{ page.subtitle }}</p>
  </div>
</section>

{% include klr-weekly-landing-form.html %}

<section id="features">
  <div class="container">
    <table>
      {% for feature in page.features %}
        <tr>
          <td class="img"><img src="/images/bulletimage{{ forloop.index }}.png" /></td>
          <td class="text">{{ feature }}</td>
        </tr>
      {% endfor %}
    </table>
  </div>
</section>

{% include klr-weekly-landing-form.html %}

{% include footer.html %}