---
layout: product
---

<h2>Занятия по средам — бесплатно</h2>

<p>Занятия клуба личностного роста бесплатны, только если приходить на них вовремя — каждую среду в 20:00 мск. Записаться в клуб и получить ссылку на следующее занятие можно тут:</p>

<p><a href="/klr/" class="btn btn-primary">Записаться в клуб и получить ссылку на следующее занятие</a></p>

<hr/>

<h2>Записи занятий — по 500 рублей</h2>

<p>Если у тебя не было возможности придти на занятие, ты можешь купить запись за 500 рублей.</p>

<p>Тема этого занятия — <b>«{{ page.title }}»</b></p>

{{ page.content | markdownify }}

<a class="btn btn-danger" href="http://prorealnost.prorealnost.com/shot/98">Купить запись занятия <b>«{{ page.title }}»</b></a> &nbsp; &nbsp; <a href="/products/#klr">Другие занятия</a>