---
layout: landing
---

    <link rel="stylesheet" type="text/css" href="/mk-consult.css" />

<div id="header-light">
  <div class="container">
    <img src="/images/logo.svg" />
  </div>
</div>

<section id="hero">
  <div class="container">
    <h1 class="event-name">{{ page.title }}</h1>
    <h1 class="event-type">Запись мастер-класса Николая Воробьёва</h1>
    <p><a class="btn btn-primary" target="_blank" href="{{ page.href }}">Получить консультацию в подарок</a></p>
  </div>
</section>

<section>
  <div class="container">
    <div class="video">
      <iframe style='border: 1px solid #666666' width="700" height="400" src="http://www.youtube.com/embed/YQAoiw_nKRA" frameborder="0" allowfullscreen></iframe>
    </div>

    <h1>Хочешь развиваться?</h1>
    <p>Привет, это Николай Воробьёв, основатель и главный тренер компании «ПроРеальность»</p>

    <p>Раз ты заинтересовался этим мастер-классом, скорее всего, это значит, что ты <b>хочешь развиваться и ищешь решение какого-то важного вопроса</b> или проблемы.</p>

    <p>Я помогаю людям выходить за рамки своих возможностей, достигать большего, становиться счастливыми и довольными собой.</p>

    <p>Таким же людям, как и ты.</p>

    <img class="img-responsive" src="https://pp.vk.me/c943/u156951/142157306/z_54dbd4f6.jpg"/>
  </div>
</section>

<section>
  <div class="container">
    <h1>Приглашаю на консультацию</h1>
    <p>Поэтому я приглашаю тебя на персональную онлайн-консультацию, на которой мы:</p>

    <ul>
      <li>выясним, что у тебя происходит сейчас</li>
      <li>разберемся, что у тебя не работает</li>
      <li>выявим важные для тебя вопросы</li>
      <li>поймём, чего ты хочешь на самом деле</li>
      <li>подскажем, как тебе разобраться с проблемами и покажем, куда двигаться</li>
    </ul>
  </div>
</section>

<section>
  <div class="container">
    <h1>Заполни анкету</h1>
    <div class="row">
      <div class="col-xs-6">
        <p>После заполнения анкеты в ближайшее время с тобой свяжется тренер компании Кирилл Дудинский. Он проведёт диагностику твоей проблемы и подскажет дальнейшие шаги по её решению.</p>

        <p>Ты увидишь взгляд эксперта на свою текущую ситуацию и получишь практические рекомендации по её улучшении.</p>

        <a class="btn btn-danger" target="_blank" href="{{ page.href }}">Заполнить анкету</a>
      </div>
      <div class="col-xs-6">
        <img class="img-responsive" src="https://pp.vk.me/c943/u156951/142157306/z_57575c38.jpg"/>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <h1>О себе</h1>

    <p>Пару слов о себе, чтобы ты мог понять, имеет ли смысл доверять мне и верить моему опыту.</p>

    <p>Я тренирую людей уже более 12 лет, с 2004 года. Сначала это было просто хобби, а основной деятельностью было владение и управление несколькими бизнесами.</p>

    <p>В какой-то момент я понял, <b>что хочу помогать людям становиться счастливыми, вдохновлёнными и успешными.</b> Именно этому я и решил посвятить себя.</p>

    <p>Поэтому в 2010 году я открыл свою тренинговую компанию «ПроРеальность».</p>

    <p>
      <b>За время своей тренерской деятельности я:</b>
      <ul>
        <li>провел тренинги в более чем 20 городах в 8 странах</li>
        <li>был автором и ведущим нескольких реалити-шоу, на радио и телевидении</li>
        <li>тренировал сотрудников Яндекса, Сбербанка, Альфа-Банка, Газпрома и др., а так же большое количество руководителей и собственников бизнеса</li>
      </ul>
    </p>
  </div>
</section>

<section>
  <div class="container">
    <h1>Отзывы</h1>
    <h2 class="review-name">Отзыв Александра Мухина</h2>
    <div class="row">
      <div class="col-xs-7">
        <p>Кирилл, проведенная тобой консультация показала, что ты настоящий профессионал и способен за короткий промежуток времени показать ключевые проблемные точки и дать мощный заряд мотивации. За что тебе и благодарен)</p>

        <p>Понял, что цели, которые ставил, не отвечают моим амбициям и способностям. Что я способен достичь большего быстрее и эффективнее, если просто сформируют план и начну пахать.</p>
      </div>
      <div class="col-xs-5">
        <img class="img-responsive" src="/images/avatar/muhin.jpg"/>
      </div>
    </div>
    <h2 class="review-name">Отзыв Яны Потёмкиной</h2>
    <div class="row">
      <div class="col-xs-7">
        <p>Привет! Меня зовут Яна. Я подписана на Николая Воробьёва, когда-то я смотрела с ним шоу на телеканале 1+1 и мне он очень понравился как коуч. Недавно я нашла его в соц.сети и подписалась на него. Оттуда я узнала, что он выпускает книги и не задумываясь заказала книгу, так как я чувствую, я могу доверять его мышлению и системе донести до моего ума то, что мне надо! К моей радости мне написали и предложили бесплатную онлайн консультацию, чему я дико благодарна, потому что сдвиг в моей голове произошёл!! Спасибо за эту возможность.</p>

        <p>Сдвиг произошёл именно в ту сторону, которая была мне необходима: я очень хотела изменений в жизни и теперь я поняла, в какую сторону нужно двигаться и как.</p>

        <p>Вдохновил меня Кирилл Дудинский (спасибо Кирилл), тренер из команды Воробьёва. Честно говоря, не думала, что один звонок может ТАК открыть глаза. Ещё раз спасибо за эту возможность! Надеюсь, а точнее уверена, увидимся на онлайн курсе.</p>
      </div>
      <div class="col-xs-5">
        <img class="img-responsive" src="https://pp.vk.me/c314130/v314130388/8a4c/4GI1p5Qr-4U.jpg"/>
      </div>
    </div>
  </div>
</section>

<section id="author">
  <div class="container">
    <h1>Записывайся!</h1>
    <div class="row">
      <div class="col-xs-4 left">
        <img src="/images/nickvorobiov-rounded.png"/>
        <h2>Николай Воробьёв</h2>
      </div>
      <div class="col-xs-8">
        <a class="btn btn-danger" target="_blank" href="{{ page.href }}">Записаться на консультацию</a>

        <p>
          С уважением, Николай Воробьёв<br/>
          Команда ПроРеальность
        </p>

        <p>
          +7 921 7618506<br/>
          <a href="mailto:info@prorealnost.com">info@prorealnost.com</a>
        </p>
      </div>
    </div>
  </div>
</section>