---
layout: landing
---

<link rel="stylesheet" type="text/css" href="/freebook.css" />

<div id="header-light">
  <div class="container">
    <p class="pull-right">+7 921 7618506</p>
    <img src="/images/logo.svg" />
    <h1>Бесплатный вебинар</h1>
  </div>
</div>

<section id="hero">
  <div class="container">
    <h1 class="primary">{{ page.title }}</h1>
  </div>
</section>

<section id="main">
  <div class="container">
    <div class="row">
      <div class="col-sm-7">
        <div class="flex-video widescreen">
          <iframe width="853" height="480" src="{{ page.video }}" frameborder="0" allowfullscreen></iframe>
        </div>
      </div>
      <div class="col-sm-5">
        <div class="form">
          <p class="lead text-center">
            <nobr>{{ page.datetext }}</nobr>
            <nobr><i class="fa fa-clock-o"></i> {{ page.timetext }}</nobr>
          </p>
          <form action="http://z.prorealnost.com/order_and_redirect.php" method="POST">
            <div class="form-group">
              <input type="text" name="name" class="form-control" placeholder="Введи своё имя" required="required" />
            </div>
            <div class="form-group">
              <input type="email" name="email" class="form-control" placeholder="Введи сюда свой email" required="required" />
            </div>
            <button type="submit" class="btn btn-warning btn-block"><span>Записаться на&nbsp;бесплатный вебинар&nbsp;&rarr;</span></button>
            <input type="hidden" name="mailchimp-product-interest-id" value="b672779f89" />
            <input type="hidden" name="trello-list-id" value="56ebed7944e8e98b500d45eb" />
            <input type="hidden" name="redirect" value="http://soedinennost.com/kso-confirm/" />
          </form>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="partners">
  <div class="container text-center">
    <div class="row">
      <div class="col-xs-6">
        Выступал на телеканалах
        <img src="/images/partners/channels.png" class="img-responsive" style="max-height: 87px; margin: 0 auto;"/>
      </div>
      <div class="col-xs-6">
        Обучал сотрудников компаний
        <img src="/images/partners/companies.png" class="img-responsive" style="max-height: 87px; margin: 0 auto;"/>
      </div>
    </div>
  </div>
</section>
